<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>완료된 정산</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        nav {width: 1500px;}
        nav ul {list-style: none;}
        nav ul li {
            display: inline-block;
            border: 5px solid rgb(123, 165, 212);
            border-width: 0 2px;
            margin: 60px;
        }
    </style>
</head>
<body>
    <header>
        <img src="./여기톤 이미지 파일/페이지 상단 로고.png">
        <div style="float: right; display: flex; justify-content: space-around;">
            <a href="login.html">로그인/회원가입</a>
            <a href="#">마이페이지</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="join.html">정산 참여하기</a></li>
            <li><a href="joinNew.html">새로운 정산</a></li>
            <li><a href="joinIng.html">참여 중인 정산</a></li>
            <li><a href="joinEnd.html">완료된 정산</a></li>
        </ul>
    </nav>
    <h1>완료된 정산</h1>
    <div></div>
    <div>
    <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text">
    </div>
    <select>
        <option>최신순</option>
    </select>
    </div>
    <footer></footer>
</body>
</html>
